[submodule "stm32f407/hal"]
	path = stm32f407/hal
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "stm32f407/cmsis"]
	path = stm32f407/cmsis
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
