[submodule "stm32f407/hal"]
	path = stm32f407/hal
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "stm32f407/usb"]
	path = stm32f407/usb
	url = https://github.com/STMicroelectronics/stm32_mw_usb_device.git
[submodule "stm32f407/device"]
	path = stm32f407/device
	url = https://github.com/STMicroelectronics/cmsis_device_f4
